<div class="body-wrapper container">
  <div class="row align-center">
    <h1>Create Order</h1>
  </div>
  <div class="row">
    <div class="col-md-12" *ngIf="popMessage">
      <div class="alert alert-success" [innerHtml]="popMessage">
      </div>
    </div>
    <div class="col-md-12">
      <mat-horizontal-stepper labelPosition="bottom" linear>
        <mat-step [stepControl]="formOneFormGroup">
          <ng-template matStepLabel>Step1</ng-template>
          <form [formGroup]="formOneFormGroup" (ngSubmit)="form1()" #formone="ngForm">
            <div class="main-wrapper">
              <div class="col-md-6 marg-bottom-20">
                <mat-form-field>
                  <input type="text" placeholder="Select Area" matInput formControlName="selectArea" [matAutocomplete]="auto" required >
                  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let areas of areasCoveredForServices" value="{{areas.area}}">
                      {{areas.area}}
                    </mat-option>
                  </mat-autocomplete>
                  <!-- <input matInput placeholder="Select Area" name="selectArea" formControlName="selectArea" required> -->
                </mat-form-field>
              </div>

              <div class="col-md-6 marg-bottom-20">
                <mat-form-field>
                  <input matInput placeholder="Select Location" name="selectLocation" formControlName="selectLocation" required>
                </mat-form-field>
              </div>

              <div class="col-md-12 marg-bottom-20">
                <label for="">Choose requested service</label>
                <mat-selection-list formControlName="servicesList">
                  <mat-list-option *ngFor="let services of provideServices" value="{{services.cid}}">
                    {{services.category}}
                  </mat-list-option>
                </mat-selection-list>
              </div>

              <div class="col-md-12 marg-bottom-20">
                <label for="">Choose the type unit</label>
                <mat-selection-list formControlName="unitList">
                  <mat-list-option *ngFor="let unit of unitList" value="{{unit.unid}}">
                    {{unit.serviceUnit}}
                  </mat-list-option>
                </mat-selection-list>
              </div>

              <div class="col-md-6">
                <mat-form-field>
                  <input matInput placeholder="Number of workers required" name="noOfWorkers" formControlName="noOfWorkers" required>
                </mat-form-field>
              </div>

              <div class="col-md-12 text-center">
                <button class="btn btn-lg btn-wb btn-custom btn-primary" matStepperNext>Next</button>
              </div>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="formTwoFormGroup">
          <ng-template matStepLabel>Step2</ng-template>
          <form [formGroup]="formTwoFormGroup" (ngSubmit)="form2()" #formtwo="ngForm">
            <div class="main-wrapper">
              <div class="col-md-6">
                <h2 class="sub-child-heading">Describe your requirement clearly</h2>
                <mat-form-field class="example-full-width">
                  <mat-label>Describe your problem clearly, so service provider understand your problem and give you the best offer</mat-label>
                  <textarea matInput formControlName="description"></textarea>
                </mat-form-field>
              </div>

              <!-- <div class="col-md-12">
                <h2 class="sub-child-heading">Add photos of the problem (optional)</h2>
                <input type="file" name="" id="" (change)="onFileSelected($event)">
              </div> -->

              <div class="col-md-12">
                <h2 class="sub-child-heading">Preferred time for execution</h2>
                <mat-selection-list formControlName="preferredTime">
                  <mat-list-option *ngFor="let pTime of preferredTime" value="{{pTime.tfeID}}">
                    {{pTime.timeForExecution}}
                  </mat-list-option>
                </mat-selection-list>
              </div>

              <div class="col-md-6">
                <mat-form-field>
                  <input matInput placeholder="Promo code" name="promoCode" formControlName="promoCode">
                </mat-form-field>
              </div>

              <div class="col-md-12 text-center">
                <button class="btn btn-lg btn-wb btn-custom btn-primary" matStepperPrevious>Back</button>
              </div>
              <div class="col-md-12 text-center">
                <button class="btn btn-lg btn-wb btn-custom btn-secondary" matStepperNext>Continue</button>
              </div>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="formThreeFormGroup">
          <ng-template matStepLabel>Step3</ng-template>
          <form [formGroup]="formThreeFormGroup" (ngSubmit)="form3()" #formthree="ngForm">
            <div class="main-wrapper">
              <div class="col-md-12 marg-bottom-20">
                <label for="">Choose nationality</label>
                <mat-selection-list formControlName="nty">
                  <mat-list-option *ngFor="let nationality of nationalityList" value="{{nationality.nationalityId}}">
                    {{nationality.nationalityName}}
                  </mat-list-option>
                </mat-selection-list>
              </div>

              <div class="col-md-6 marg-bottom-20">
                <label for="">Choose Gender of worker</label>
                <mat-form-field>
                  <mat-select formControlName="gnd">
                    <mat-option *ngFor="let gender of genderList" value="{{gender.genderName}}">{{gender.genderName}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-6 marg-bottom-20">
                <label for="">Choose daily hours</label>
                <mat-form-field>
                  <input matInput name="" formControlName="dailyHours">
                </mat-form-field>
              </div>

              <div class="col-md-6 marg-bottom-20">
                <label for="">Required materials</label>
                <mat-selection-list formControlName="mtrl">
                  <mat-list-option *ngFor="let material of materialList" value="{{material.materialId}}">
                    {{material.materialName}}
                  </mat-list-option>
                </mat-selection-list>
              </div>

              <div class="col-md-6 marg-bottom-20">
                <label for="">Number of days required</label>
                <mat-form-field>
                  <input matInput name="" formControlName="noOfDaysReq">
                </mat-form-field>
              </div>

              <div class="col-md-12 text-center">
                <button class="btn btn-lg btn-wb btn-custom btn-primary" matStepperPrevious>Back</button>
              </div>
              <div class="col-md-12 text-center">
                <button class="btn btn-lg btn-wb btn-custom btn-secondary" matStepperNext (click)="finalConfirmBeforeSubmit()">Continue</button>
              </div>
            </div>
          </form>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Step4</ng-template>
          <div class="main-wrapper">
            <div class="col-md-6">
              <div class="form-group marg-bottom-30">
                <label for="exampleInputPassword1">Area</label>
                <h4>{{selectedArea}}</h4>
              </div>
              <div class="form-group marg-bottom-30">
                <label for="exampleInputPassword1">Location</label>
                <h4>{{selectedLocation}}</h4>
              </div>
              <div class="form-group marg-bottom-30">
                <label for="exampleInputPassword1">Type of service</label>
                <h4>{{selectedServices}}</h4>
              </div>
              <div class="form-group marg-bottom-30">
                <label for="exampleInputPassword1">Unit type</label>
                <h4>{{selectedUnit}}</h4>
              </div>
              <div class="form-group marg-bottom-30">
                <label for="exampleInputPassword1">Number of workers</label>
                <h4>{{selectedNoOfWorkers}}</h4>
              </div>
              <div class="form-group marg-bottom-30">
                <label for="exampleInputPassword1">Nationality</label>
                <h4>{{selectedNationality}}</h4>
              </div>
              <div class="form-group marg-bottom-30">
                <label for="exampleInputPassword1">Worker Gender</label>
                <h4>{{selectedGender}}</h4>
              </div>
              <div class="form-group marg-bottom-30">
                <label for="exampleInputPassword1">Required materials</label>
                <h4>{{selectedMaterials}}</h4>
              </div>
              <div class="form-group marg-bottom-30">
                <label for="exampleInputPassword1">Number of days required</label>
                <h4>{{selectedNoOfDays}}</h4>
              </div>
              <div class="form-group marg-bottom-30">
                <label for="exampleInputPassword1">Preferred time</label>
                <h4>{{selectedPreferredTime}}</h4>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputPassword1">Request description</label>
                <h4>{{selectedRequestDescription}}</h4>
              </div>
            </div>
            <div class="col-md-12 text-center">
              <button class="btn btn-lg btn-wb btn-custom btn-primary" matStepperPrevious>Back</button>
            </div>
            <div class="col-md-12 text-center">
              <button class="btn btn-lg btn-wb btn-custom btn-secondary" mat-button type="button"
                (click)="orderCreation()">Submit</button>
            </div>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</div>
