.tagLine{
font-size: 61px;
font-family: HelveticaNeueLT-Medium;
text-align: center;
color: #595959;
margin-top: 8%;
}
.tagLineSubline{
font-size: 30px;
font-family: HelveticaNeueLT-Medium;
text-align: center;
color: #595959;
margin-top: 2%;
margin-bottom: 2%;
}
.serachf{
text-align:center;
}
.searchfield{
width: 434px;
height: 49px;
background: #ffffff;
box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.06); 
border-color:rgba(0,0,0,0.06);
color: #bdbdbd;
text-align:center;
font-size: 16px;
}
.creatOrderbtn{
width: 200px;
height: 54px;
background: #27a9c1;
box-shadow: 0px -2px 10px 0px rgba(39,169,193,0.42); 
padding: 16px 28px;
}
.works{
width: 281px;
height: 221px;
}
.serviceType{
width: 90%;
height: 90%;
}
.serviceTypePanel{
background-color: #f8f8f8;
margin-bottom: 2%;
margin-right: 2%;
}
.serviceTitle{
font-size: 16px;
text-align: center;
color: #595959;
margin-top: 11%;
}
.steps{
font-size: 14px;
text-align: center;
color: #595959;
}
.order{
font-size: 18px;
color: white;
}
.imgwidth{
width: 100%;
}
.servicedialog{
width: 800px;
}
.servicemar{
margin-left: 10%;
}
