<!-- Toolbar -->
<!-- <mat-toolbar color="primary" class="app-header"> -->
<mat-toolbar class="">
  <!--  <div><a href="https://www.positronx.io" target="_blank" class="positronx">PositronX.io</a></div>
  <span class="nav-tool-items">
    <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
    <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
  </span> -->
  <!-- ======= Header ======= -->
  <header id="header" class="">
    <div class="align-items-center">

      <!-- Uncomment below if you prefer to use text as a logo -->
      <!-- <h1 class="logo mr-auto"><a href="index.html">Butterfly</a></h1> -->

      <nav class="nav-menu d-none d-lg-block">
        <ul class="navi-tex">
          <li class="drop-down"><span style="font-size: 16px;padding-right: 5px;">English</span><svg width="1em"
              height="1em" viewBox="0 0 16 16" class="bi bi-caret-down" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M3.204 5L8 10.481 12.796 5H3.204zm-.753.659l4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z" />
            </svg>
            <ul class="selectpicker selectItem" style="top: 45%;">
              <li><a href="#">عربى</a></li>
            </ul>
          </li>
          <li class="drop-down"><span style="font-size: 16px;padding-right: 5px;">Category</span><svg width="1em"
              height="1em" viewBox="0 0 16 16" class="bi bi-caret-down" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M3.204 5L8 10.481 12.796 5H3.204zm-.753.659l4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z" />
            </svg>
            <ul class="selectpicker selectItem" style="top: 45%;">
              <li *ngFor="let serviceType of apiResponse"><a href="#">{{ serviceType.category }}</a></li>
            </ul>
          </li>
          <li class="logo-left"></li>

          <li><a href="index.html"><img src="/../assets/img/logo.jpg" alt="" class="img-fluid"></a>
          </li>
          <li class="logo-right"></li>

          <li class="nav_text">
            <!--<a mat-button routerLink="login" routerLinkActive="active">Log in 3</a> -->
            <a href="" class="" data-toggle="modal" routerLinkActive="active" data-target="#modalLoginForm">
              Login</a></li>
          <li class="nav_text">
            <!--<a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a> -->

            <a href="" class="" data-toggle="modal" data-target="#modalRegisterForm"> Register</a>
          </li>


        </ul>

      </nav><!-- .nav-menu -->


    </div>
  </header><!-- End Header -->

  <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Login</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form class="form" [formGroup]="loginForm">
            <div class="form-group">
              <label for="username">Email/Mobile:</label>
              <input type="text" name="email" formControlName="email" class="form-control"
              [ngClass]="{ 'is-invalid': submit && f.email.errors }" />
              <span class="input-type-animation"></span>
              <div *ngIf="submit && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required" class="error-message">Required
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="password">Password:</label>
              <input type="text" name="password" formControlName="password" class="form-control"
              [ngClass]="{ 'is-invalid': submit && f.password.errors }" />
              <span class="input-type-animation"></span>
              <div *ngIf="submit && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required" class="error-message">Required</div>
              </div>
            </div>

            <div class="form-group text-center">
              <label><a href="#">Forgot Password?</a></label>
              <label><a href="#">Don't have account? Register here</a></label>
              <button class="btn btn-primary btn-lg" (click)="login(loginForm)">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [ngStyle]="{'display':display}">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Register</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form class="form" [formGroup]="signUpForm">
            <div class="col-md-12" *ngIf="popMessage">
              <div class="alert alert-success" [innerHtml]="popMessage">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputPassword1">Name</label>
                <input type="text" class="form-control" formControlName="name"
                [ngClass]="{ 'is-invalid': submitted && signF.name.errors }" />
                <span class="input-type-animation"></span>
                <div *ngIf="submitted && signF.name.errors" class="invalid-feedback">
                  <div *ngIf="signF.name.errors.required" class="error-message">Required
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputPassword1">Mobile</label>
                <input type="text" class="form-control" formControlName="mobileNo"
                [ngClass]="{ 'is-invalid': submitted && signF.mobileNo.errors }" />
                <span class="input-type-animation"></span>
                <div *ngIf="submitted && signF.mobileNo.errors" class="invalid-feedback">
                  <div *ngIf="signF.mobileNo.errors.required" class="error-message">Required
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputPassword1">Email</label>
                <input type="text" class="form-control" formControlName="emailId"
                [ngClass]="{ 'is-invalid': submitted && signF.emailId.errors }" />
                <span class="input-type-animation"></span>
                <div *ngIf="submitted && signF.emailId.errors" class="invalid-feedback">
                  <div *ngIf="signF.emailId.errors.required" class="error-message">Required
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="text" class="form-control" formControlName="password"
                [ngClass]="{ 'is-invalid': submitted && signF.password.errors }" />
                <span class="input-type-animation"></span>
                <div *ngIf="submitted && signF.password.errors" class="invalid-feedback">
                  <div *ngIf="signF.password.errors.required" class="error-message">Required
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group text-center">
                <label><a href="#">Already have an account? Login</a></label>
                <!-- <input type="submit" name="submit" class="btn btn-primary btn-lg" value="Register"> -->
                <button class="btn btn-primary btn-lg" (click)="registerUser(signUpForm)">Register</button>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>

</mat-toolbar>
